* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
} 

html {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.6;
}

body {
    width: 100%;
    background-color: white;
}

img {
    width: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.25rem;
    color: #179b34;
    margin-bottom: 1rem;
}

a {
    color: #179b34;
}

p,
ol,
table {
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border: 1px solid red;
    border-collapse: collapse;
}

table > thead > tr > th,
table > tbody > tr > td {
    border: 1px solid grey;
    padding: .5rem;
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .35);
}

@media (min-width: 768px) {
    .site-header {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        height: 5rem;
        z-index: 2;
    }
}

.site-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .site-nav {
        flex-direction: row;
    }
}

.site-nav a {
    padding: 1rem;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo {
    padding: 0;
    order: -1;
}

@media (min-width: 768px) {
    .site-logo {
        order: initial;
        margin-top: 5rem;
    }
}

.hero-section {
    position: relative;
}

.hero-title {
    position: absolute;
    top: 50%;
    color: white;
    font-size: 2rem;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}

@media (min-width: 768px) {
    .hero-title {
        font-size: 3rem;
        left: 5rem;
        max-width: 40rem;
        text-align: left;
    }
}

.form-input {
    display: block;
    width: 100%;
    padding: .75rem;
    border: 1px solid grey;
    font-size: 1rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .15);
}

.btn-primary {
    display: inline-block;
    padding: .75rem 2rem;
    color: white;
    background-color: #39a23d;
    font-size: 1rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
}

.btn-primary:hover {
    background-color: #179b34;
}

.form-group {
    margin-bottom: 1rem;
    max-width: 40rem;
}

.container {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media (min-width: 1200px) {
    .container {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4rem;
    }
}

.media {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .media {
        flex-direction: row;
    }
}

.media-reverse {
    flex-direction: column;
}

@media (min-width: 768px) {
    .media-reverse {
        flex-direction: row-reverse;
    }

    .media-reverse .media-object {
        margin-left: 4rem;
        margin-right: 0rem;
    }
}

.media-object {
    margin-bottom: 0;
    margin-right: 4rem;
}

.media-body {
    flex-grow: 1;
}

.media-img {
    min-width: 25rem;
}

